services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    volumes:
      - ollama-data:/root/.ollama
    ports:
      - "11434:11434"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: no

  web:
    image: nginx:1.27.3-alpine
    container_name: simple-web
    volumes:
      - ./web:/usr/share/nginx/html
    ports:
      - "6001:80"

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    volumes:
      - open-webui-data:/app/backend/data
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: no
    ports:
      - "6002:8080"
    depends_on:
      - ollama

volumes:
  ollama-data:
  open-webui-data:
